#kc-header-wrapper {
    display: none;
}

 #kc-page-title {
    font-family: "Rubik Light", sans-serif;
    text-align: center;
 }


 body {
    font-family: "Rubik Light", sans-serif;
 }

 .login-pf-page {
    background: rgba(76,68,196,1);
    background: linear-gradient(0deg, rgba(76,68,196,1) 23%, rgba(143,130,182,1) 100%);
 }

 .card-pf {
     max-width: 768px;
     margin: 0 auto;
 }

 .login-pf-page {
     display: flex;
     flex-direction: column;
     height: 100vh;
     align-items: stretch;
     justify-content: center;
 }

 #kc-form-buttons .btn-lg {
     background-color: rgb(76, 68, 196);
 }

 .pf-c-button {
    border-radius: 10px;
    height: 40px;
 }


 :is(input#password, input#password-confirm, input#username, input#email, input#firstName, input#lastName) {
     border-radius: 50px;
     border-color: rgb(76, 68, 196);
 }
